.navbar{
    background-color: rgb(3, 3, 62);
    color: white;
}
.mid-nav{
    margin-left: 40%;
}   
.mid-nav li{
    padding: 0px 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.burger{
    background-color: white;
    color: black;
    font-size: 30px;
    border-radius: 30%;
    padding: 0px 15px 10px 15px;
    width: 50px;
}
.mid-nav li:hover{
    text-decoration: underline;
    transform: scale(1.1);
    color: rgb(196, 237, 14);
    
}